<%= form_for @reservation do |f| %>
  <div class="input-field col s6">
      <%= f.label :start_time, 'Time'%>
      <%=f.datetime_select :start_time, :minute_step => 30%>
  </div>
  
  <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
  <%= f.submit "Submit", :class => "btn waves-effect waves-light btn btn-light"%>
<% end %>
<%= link_to "Reservations", reservations_path%>
<%= link_to "Restaurants", restaurants_path %>
