<h1><%=@user.name%> Reservations</h1>

<%=@user.name%>
<%=@reservations.count%>
  <% @reservations.each do |reservation| %>
  <% if current_user.id == reservation.user_id%>
        <%= link_to reservation.start_time, reservation_path(reservation) %>
        <%= link_to reservation.restaurant.name, reservation_path(reservation) %>
        <a data-confirm="Are you sure you want to delete ?" data-method="delete" href="/reservations/<%= reservation.id %>" rel="nofollow">delete</a>
       <% end %>   
  <% end %>
<br>
say what 
<%= link_to "Restaurants", restaurants_path %>
<%= link_to  "Your Account", edit_user_registration_path %>
<%= link_to "Sing Up", new_user_registration_path %>
<%= link_to "Sing In", new_user_session_path %>
<%= link_to "Sing Out", destroy_user_session_path, method: :delete %>