<h1>Your Reservations</h1>
<ul>
  <% @reservations.each do |reservation| %>
    <% if current_user.id == reservation.user_id%>
      <li>
        <%= link_to reservation.restaurant.name, reservation_path(reservation) %>
        </br>
        <%= image_tag(reservation.restaurant.img, size: "200x200", alt: "res Image") %>
        </br>
        <%= link_to reservation.start_time, reservation_path(reservation) %>
        <a data-confirm="Are you sure you want to delete ?" data-method="delete" href="/reservations/<%= reservation.id %>" rel="nofollow">delete</a>
      </li>   
    <% end %>
  <% end %>
</ul>
<br>

<%= link_to "Back to Restaurants", restaurants_path %>
