<% if current_user.role == "owner" %>
    <%= link_to "add a restaurant", new_restaurant_path %>
<%end%>
<%if current_user.role == "customer"%>
    <%= link_to "Reservations", reservations_path%>
<%end%>


<% @restaurants.each do |res| %>
    <ul>
        <%if current_user.role == "customer"%>
            <li>
                <h2><%= res.name %></h2>
                <%= image_tag(res.img, size: "200x200", alt: "res Image") %>
                <%= link_to "Make Reservation", new_reservation_path(:restaurant_id => res.id, :user_id => current_user.id)%>
            </li>
        <%end%>
        <% if current_user.role == "owner" && current_user.id == res.user_id %>
            <li>
                <h2><%= res.name %></h2>
                <%= image_tag(res.img, size: "200x200", alt: "res Image") %>
                <a data-confirm="Are you sure you want to delete ?" data-method="delete" href="/restaurants/<%= res.id %>" rel="nofollow">delete</a>
            </li>
        <%end%>
    </ul>
<%end%>
